{% extends 'base.html' %}

<!-- CSSを読み込むコード -->
{% block  css%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}">
<!-- platform.cssにはまだ何も書いていない -->
<link rel="stylesheet" type="text/css" href="{% static 'CSS/platform.css' %}">
{% endblock %}

{% block content %}
<!-- ここの内容は継承先が記載する -->

<h2>写真登録用画面</h2>

<!--無視
<form method="POST">{% csrf_token %}

    <p>画像：<input type='file' id='images' name='image'></p>

    <select id='picture_folderID' name='picture_folderID'>

        {% for item in picture_folderID_list %}
        <option value="フォルダーID">{{ item.id }}</option>
        {% endfor %}

    </select>

    <input type='submit' value='作成する'>
</form> 
-->

<!--ここでは写真投稿プラットフォームの指定をpicture_folderテーブルのpicture_folder_nameで指定している。
後でpicture_folder_passwordと紐づいたidを引数として渡すようにし、画像を保存するプラットフォームを事前に指定-->

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">アップロード</button>
</form> 

<!--ブートストラップのアイコンの利用-->
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
    <a href="/photo_share_app/photo_platform/">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
    </a>
</svg>


{% endblock %}